<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="/css/useradmin.css" />

    <title>OnlineWebCompiler</title>
  </head>
  <body>
    <header class="header">
      <section class="header__section">
        <div class="logo">
          <h1>OnlineWebCompiler</h1>
        </div>
        <div class="currentuser-section">
          <a class="btn username" href="#"></a>
          <a class="btn logout">Logout</a>
        </div>
      </section>
    </header>
    <section class="program-field"></section>

    <!-- Option 1: Bootstrap Bundle with Popper -->

    <script src="/js/useradmin.js"></script>
  </body>
</html>
